version: '3.8'

services:
  aiops-backend:
    build: ./app
    container_name: aiops_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app
volumes:
  n8n_data: